@import "tailwindcss";
/* @import "tailwindcss"; */


/* Gambarino Font */
/* @font-face {
  font-family: "Gambarino";
  src: url("/fonts/Gambarino-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gambarino";
  src: url("/fonts/Gambarino-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);

}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 18s linear infinite;
}
